.m-0 {
    margin: 0;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-12 {
    margin: 12px;
}

.m-16 {
    margin: 16px;
}

.m-24 {
    margin: 24px;
}

.m-bottom-0 {
  margin-bottom: 0;
}

.m-bottom-4 {
  margin-bottom: 4px;
}

.m-bottom-8 {
  margin-bottom: 8px;
}

.m-bottom-12 {
  margin-bottom: 12px;
}

.m-bottom-16 {
  margin-bottom: 16px;
}
.m-bottom-24 {
    margin-bottom: 24px;
}

.m-right-0 {
  margin-right: 0;
}

.m-right-4 {
  margin-right: 4px;
}

.m-right-8 {
  margin-right: 8px;
}

.m-right-12 {
  margin-right: 12px;
}

.m-right-16 {
  margin-right: 16px;
}

.m-right-24 {
    margin-right: 24px;
}

.m-right-36 {
    margin-right: 36px;
}

.m-right-48 {
    margin-right: 48px;
}

.m-left-0 {
  margin-left: 0;
}

.m-left-4 {
  margin-left: 4px;
}

.m-left-8 {
  margin-left: 8px;
}

.m-left-12 {
  margin-left: 12px;
}

.m-left-16 {
  margin-left: 16px;
}

.m-left-24 {
    margin-left: 24px;
}

.m-left-36 {
    margin-left: 36px;
}

.m-left-48 {
    margin-left: 48px;
}

.m-top-0 {
  margin-top: 0;
}

.m-top-4 {
  margin-top: 4px;
}

.m-top-8 {
  margin-top: 8px;
}

.m-top-12 {
  margin-top: 8px;
}

.m-top-16 {
  margin-top: 16px;
}

.m-top-24 {
    margin-top: 24px;
}