.p-0 {
    padding: 0;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.p-bottom-4 {
  padding-bottom: 4px;
}

.p-bottom-8 {
  padding-bottom: 8px;
}

.p-bottom-12 {
  padding-bottom: 12px;
}

.p-bottom-16 {
  padding-bottom: 16px;
}

.p-bottom-24 {
    padding-bottom: 24px;
}

.p-right-0 {
  padding-right: 0;
}

.p-right-4 {
  padding-right: 4px;
}

.p-right-8 {
  padding-right: 8px;
}

.p-right-12 {
  padding-right: 12px;
}

.p-right-16 {
  padding-right: 16px;
}

.p-right-24 {
    padding-right: 24px;
}

.p-left-0 {
  padding-left: 0;
}

.p-left-4 {
  padding-left: 4px;
}

.p-left-8 {
  padding-left: 8px;
}

.p-left-12 {
  padding-left: 12px;
}

.p-left-16 {
  padding-left: 16px;
}

.p-left-24 {
  padding-left: 24px;
}

.p-top-0 {
  padding-top: 0;
}

.p-top-4 {
  padding-top: 4px;
}

.p-top-8 {
  padding-top: 8px;
}

.p-top-12 {
  padding-top: 12px;
}

.p-top-16 {
  padding-top: 16px;
}

.p-top-24 {
    padding-top: 24px;
}