{% extends "main.html" %}

{% block title %}
    <title>{{ _("Play times") }}</title>
{% endblock title %}

{% block head %}
    {{ map.js }}
{% endblock head %}

{% block content %}

    {% if all_play_times and len(all_play_times) > 0 %}
        <h4 class="h4 media-body">{{ _("Your play times") }}</h4>
        <legend class="border-bottom mb-4"></legend>
        {% for play_time in all_play_times %}
            <div id="play_time_{{ play_time.id }}" class="content-section row media m-bottom-12 m-left-0 m-right-0">
                <p class="media-body text-secondary m-bottom-0">
                    {% if play_time.day_of_week is not none and play_time.start_time is not none and play_time.end_time is not none %}
                        {{ _(get_day_of_week(play_time.day_of_week)) }},
                        {{ format_time(play_time.start_time) }}-{{ format_time(play_time.end_time) }}
                    {% else %}
                        {{ _("No time selected") }}
                    {% endif %}
                </p>
                <div class="media-right row">
                    <p class="text-secondary m-bottom-0 m-right-16">
                        {% if play_time.address is not none %}
                            {{ play_time.address }}
                        {% else %}
                            {{ _("No address selected") }}
                        {% endif %}
                    </p>
                    <a href="{{ url_for('profile_route', action='add_play_time', id=play_time.id) }}">
                        <img class="m-right-8" width="75%" height="75%" alt="none"
                             src="{{ url_for('static', filename='buttons/edit-24px.svg') }}"/>
                    </a>
                    <a onclick="sendDeleteRequest({{ play_time.id }})" onmouseover="" style="cursor: pointer;">
                        <img class="m-right-8" width="75%" height="75%" alt="none"
                             src="{{ url_for('static', filename='buttons/delete-24px.svg') }}"/>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="h4 media-body m-bottom-12">{{ _("No play times added yet!") }}</h4>
    {% endif %}

    <div class="content-section">
        <form method="post" action="{{ url_for('profile_route', action='add_play_time') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group m-bottom-8">
                    <label for="{{ form.day_of_week.label.field_id }}" class="form-control-label">{{ _(form.day_of_week.label.text) }}</label>
{#                    {{ form.day_of_week(class="form-control") }}#}
                    <select class="form-control" id="{{ form.day_of_week.label.field_id }}" name="{{ form.day_of_week.label.field_id }}">
                        {% for value, data in form.day_of_week.choices %}
                            {% if value == form.day_of_week.data %}
                                <option selected="selected" value="{{ value }}">{{ _(data) }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ _(data) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row m-top-24 m-left-16 m-right-16 m-bottom-16 d-flex justify-content-center">

                    <div class="row m-right-48">
                        <label for="{{ form.start_time.field_id }}" class="form-control-label">{{ _(form.start_time.label.text) }}</label>
                        {{ form.start_time(type="time", class="m-left-16") }}
                    </div>
                    <div class="row">
                        <label for="{{ form.end_time.field_id }}" class="form-control-label">{{ _(form.end_time.label.text) }}</label>
                        {{ form.end_time(type="time", class="m-left-16") }}
                    </div>
                </div>
                    <div class="form-group">
                        <label for="{{ form.address.label.field_id }}" class="form-control-label">{{ _(form.address.label.text) }}</label>
                        <div class="row m-left-0" style="display: flex">
                            {% if form.address.errors %}
                                {{ form.address(class="form-control is-invalid", style="flex: 4", id="address") }}
                                <div class="invalid-feedback>">
                                    <span style="color: red; ">{{ _("File must be an image") }}</span>
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-sm", style="flex: 4", id="address") }}
                            {% endif %}
                            <input style="flex: 1" class="btn btn-outline-info m-right-24 m-left-24" height="75%" onclick="checkAddress()" type="button" value="{{ _("Check address") }}">
                        </div>
                    </div>
                {{ map.html }}
            </fieldset>
            <legend class="border-bottom m-bottom-12"></legend>
            <div class="form-group">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Add') }}">
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">

        let marker = null

        function sendDeleteRequest(id) {
            const xhttp = new XMLHttpRequest()
            const url = "{{ url_for('play_time_route', id=0) }}".slice(0, -1) + id
            xhttp.open("DELETE", url, true)
            xhttp.send()
            $(`#play_time_${id}`).remove()
        }

        function checkAddress() {
            const address_input = document.getElementById("address")
            const address = address_input.value
            if (address.trim() === "") {
                return
            }
            const xhttp = new XMLHttpRequest()
            const url = "{{ url_for('get_location_by_address_route') }}"
            xhttp.open("POST", url)
            xhttp.responseType = "json"

            xhttp.onload = () => {
                if (xhttp.status !== 200) {
                    alert("Error")
                    console.log(xhttp.response)
                    return
                }
                const response = xhttp.response
                if (response.success === false) {
                    alert(response.msg)
                    return
                }
                address_input.value = response.address
                const position = {lat: response.latitude, lng: response.longitude}
                // TODO move camera
                const loc_map = new google.maps.Map(document.getElementById("loc_map"), {
                    zoom: 14.5,
                    center: position
                })
                addMarker(loc_map, position)
            }
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({'address': address}))
        }

        function addMarker(map, position) {
            if (marker !== null) {
                marker.setMap(null)
            }
            marker = new google.maps.Marker({
                position: position,
                map: map
            })
        }

    </script>
{% endblock %}