{%  extends "main.html" %}

{%  block content %}
    <div class="content-section column">
{#        <div class="">#}
{#            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">#}
{#            <p class="">{{ current_user.name }} {{ current_user.last_name }}</p>#}
{#        </div>#}
{#        <legend class="border-bottom mb-3"></legend>#}
        <div class="media-list" style="width: 200px; height: 400px;">
            <ul id="history" class="message-secion">
            {%  for msg in messages %}
                <li class="">{{ msg.user.username }}: <span class="text-muted">{{ msg.text }}</span></li>
            {%  endfor %}
            </ul>
        </div>
        <legend class="border-bottom mb-3" style="width: 100%"></legend>
        <div class="media-list row" style="align-content: center;">
            <input class="col-sm-10" id="input">
            <button id="send"><img src="{{ url_for('static', filename='buttons/send-24px.svg') }}"></button>
        </div>
    </div>
{%  endblock %}


{%  block socket_script %}

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        socket.on('connect', function () {
            socket.emit('opened', {})
        });

        socket.on('message', function (js_msg) {
            console.log(js_msg);
            var msg = JSON.parse(js_msg);
            console.log(msg.toString());
            var li = document.createElement("LI");
            li.innerHTML = `${msg.username}: <span class='text-muted'>${msg.text}</span>`
            document.getElementById('history').appendChild(li)
        });

        document.getElementById('send').onclick = function () {
            var input = document.getElementById('input');
            var msg = input.value;
            input.value = "";
            var li = document.createElement("LI");
            li.innerHTML = '{{ current_user.username }}' + ': ' + `<span class='text-muted'>${msg}</span>`;
            socket.send({text: msg, chat_id: "{{chat_id}}", user_id: "{{ current_user.id }}"});
            document.getElementById('history').appendChild(li);
        };

        var input = document.getElementById("input");
        input.addEventListener("keyup", function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById("send").click();
            }
        });

        window.onunload = function (e) {
            socket.send('disconnected')
        }
    </script>
{%  endblock %}