{%  extends "main.html" %}

{%  block title %}
        <title>{{ chat_name }}</title>
{%  endblock title %}

{%  block content %}
    <div class="content-section column" style="height: 620px">
        {%  if group %}
            <div class="media">
                <h4 class="media-body">{{ group.name }}</h4>
                <a href="{{ url_for('group_chats_route', action='add_members', chat_id=chat.id, group_id=group.id) }}" class="media-right">
                    <img src="{{ url_for('static', filename='buttons/add-24px.svg') }}"/>
                </a>
            </div>
        {%  else %}
            <h4>{{ chat_name }}</h4>
        {%  endif %}
        <legend class="border-bottom mb-3" style="width: 100%"></legend>
        <div class="" style="overflow: hidden;">
            <div class="message-section" style="" id="history">
            {%  for msg in messages %}
                {%  if msg.user.id == current_user.id %}
                <p class="message" style="text-align: right; margin-right: 5%;"><span class="text-muted">{{ msg.text }}</span></p>
                {%  else %}
                <p class="message" style="">{{ msg.user.username }}: <span class="text-muted">{{ msg.text }}</span></p>
                {%  endif %}
            {%  endfor %}
            </div>
        </div>
        <legend class="border-bottom mb-2" style="width: 100%"></legend>
        <div class="media-list ml-1 row" style="align-content: center;">
            <input class="col-sm-10" id="input">
            <a id="send" href="javascript:;"><img src="{{ url_for('static', filename='buttons/send-24px.svg') }}"></a>
        </div>
    </div>
{%  endblock %}




{%  block socket_script %}

    <script type="text/javascript" charset="utf-8">
        const socket = io();

        socket.on('connect', function () {
            socket.emit('opened', {})
        });

        socket.on('message', function (json_msg) {
            console.log(json_msg);
            const msg = JSON.parse(json_msg);
            if (Number.parseInt('{{ chat.id }}') === msg.chat_id) {
                const li = document.createElement("P");
                li.innerHTML = `${msg.username}: <span class='text-muted'>${msg.text}</span>`;
                li.className = "message";
                document.getElementById('history').appendChild(li);
                const objDiv = document.getElementById("history");
                objDiv.scrollTop = objDiv.scrollHeight;
                socket.emit('notify', {type: 'message', 'message_id': msg.message_id, 'user_id': '{{ current_user.id }}',
                                        'chat_id': msg.chat_id})
            } else {
                document.getElementById('messages').innerHTML = "<span style='color: red;'>Messages (!)</span>";
            }
        });

        document.getElementById('send').onclick = function () {
            const input = document.getElementById('input');
            const msg = input.value;
            input.value = "";
            const li = document.createElement("P");
            li.innerHTML = `<span class='text-muted'>${msg}</span>`;
            li.className = "message";
            li.style = "text-align: right; margin-right: 5%";
            socket.send({text: msg, chat_id: "{{chat.id}}", user_id: "{{ current_user.id }}"});
            document.getElementById('history').appendChild(li);
            const objDiv = document.getElementById("history");
            objDiv.scrollTop = objDiv.scrollHeight;
        };

        const input = document.getElementById("input");
        input.addEventListener("keyup", function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById("send").click();
            }
        });
    </script>
{%  endblock %}