{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Edit group") }}</title>
{%  endblock title %}


{% block content %}

    <div class=content-section>
        <form method="POST" action="{{ url_for('group_route', action='edit', id=group.id) }}">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _("Edit group") }}</legend>
                <div class="form-check m-bottom-16 m-left-4">
                    {{ form.closed(class="form-check-input") }}
                    <label for="{{ form.closed.label.field_id }}" class="form-control-label m-left-8">{{ _(form.closed.label.text) }}</label>
                </div>
                <div class="form-group">
                    <label for="{{ form.name.label.field_id }}" class="form-control-label">{{ _(form.name.label.text) }}</label>
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback>">
                            {% for error in form.name.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div>
                    <label for="{{ form.sport.label.field_id }}" class="form-control-label">{{ _(form.sport.label.text) }}</label>
                    {{ form.sport(class="form-control form-control") }}
                </div>
            </fieldset>
            <legend class="border-bottom mb-4"></legend>
            <div class="form-group">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Submit') }}">
            </div>
        </form>

    </div>

{% endblock content%}