{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Edit group") }}</title>
{%  endblock title %}


{% block content %}

    <div class=content-section>
        <form method="POST" action="{{ url_for('group_route', type='edit', id=group.id) }}">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _("Edit group") }}</legend>
                <div class="form-check m-bottom-16 m-left-4">
                    {{ form.closed(class="form-check-input") }}
                    {{ form.closed.label(class="form-check-label m-left-8") }}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback>">
                            {% for error in form.name.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div>
                    {{ form.sport.label(class="form-control-label") }}
                    {{ form.sport(class="form-control form-control") }}
                </div>
            </fieldset>
            <legend class="border-bottom mb-4"></legend>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>

{% endblock content%}