{%  extends "main.html" %}

{% block title %}
    <title>{{ _("Edit event") }}</title>
{% endblock %}

{% block head %}
    {{ map.js }}
{% endblock %}

{% block content %}
    <div class="content-section">
    <form method="POST" action="{{ url_for('event_route', action='edit', event_id=event.id) }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ _("Edit Event") }}</legend>
            <div class="form-check m-bottom-16 m-left-4">
                {{ form.closed(class="form-check-input") }}
                <label for="{{ form.closed.label.field_id }}" class="form-control-label m-left-8">{{ _(form.closed.label.text) }}</label>

            </div>
            <div class="form-group">
            <label for="{{ form.name.label.field_id }}" class="form-control-label">{{ _(form.name.label.text) }}</label>
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.label.field_id }}" class="form-control-label">{{ _(form.description.label.text) }}</label>
                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.description.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.sport.label.field_id }}" class="form-control-label">{{ _(form.sport.label.text) }}</label>
                {{ select_field(form.sport, class="form-control form-control") }}
            </div>
        </fieldset>
        <legend class="border-bottom mb-4"></legend>
        <div class="form-group">
            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Update') }}">
        </div>
    </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">

        let marker = null

        function sendDeleteRequest(id) {
            const xhttp = new XMLHttpRequest()
            const url = "{{ url_for('play_time_route', id=0) }}".slice(0, -1) + id
            xhttp.open("DELETE", url, true)
            xhttp.send()
            $(`#play_time_${id}`).remove()
        }

        function checkAddress() {
            const address_input = document.getElementById("address")
            const address = address_input.value
            if (address.trim() === "") {
                return
            }
            const xhttp = new XMLHttpRequest()
            const url = "{{ url_for('get_location_by_address_route') }}"
            xhttp.open("POST", url)
            xhttp.responseType = "json"

            xhttp.onload = () => {
                if (xhttp.status !== 200) {
                    alert("Error")
                    console.log(xhttp.response)
                    return
                }
                const response = xhttp.response
                if (response.success === false) {
                    alert(response.msg)
                    return
                }
                address_input.value = response.address
                const position = {lat: response.latitude, lng: response.longitude}
                // TODO move camera
                const loc_map = new google.maps.Map(document.getElementById("loc_map"), {
                    zoom: 14.5,
                    center: position
                })
                addMarker(loc_map, position)
            }
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({'address': address}))
        }

        function addMarker(map, position) {
            if (marker !== null) {
                marker.setMap(null)
            }
            marker = new google.maps.Marker({
                position: position,
                map: map
            })
        }

        function clearTime(id) {
            document.getElementById(id).value = null
        }

    </script>
{% endblock %}