{%  extends "main.html" %}

{% block head %}
    {% if map %}
        {{ map.js }}
    {% endif %}
{% endblock %}

{# TODO add chat #}
{%  block content %}
    {%  if event %}
        <div class="content-section">
            <div class="media">
                <div class="media-body row m-left-0">
                    <h4>{{ event.name }}</h4>
                    {% if event.closed %}
                        <img title="Closed event" class="m-left-4 m-bottom-4 image-button" width="4%" height="4%"
                             src="{{ url_for('static', filename='buttons/lock-24px.svg') }}" />
                    {% endif %}
                    {% if event.recurring %}
                        <img title="Recurring event" class="m-left-4 m-bottom-4 image-button" width="4%" height="4%"
                             src="{{ url_for('static', filename='buttons/recurring-24px.svg') }}" />
                    {% endif %}
                </div>
                <a class="media-right image-button m-right-8"
                   href="{{ url_for('event_route', action='find_people', event_id=event.id) }}">
                    <img title="Find prople" src="{{ url_for('static', filename='buttons/add_people-18dp.svg') }}"/>
                </a>
                {%  if is_event_admin %}
                    <a class="media-right image-button m-right-8"
                        href="{{ url_for('event_route', event_id=event.id, action='edit') }}">
                        <img title="Edit" src="{{ url_for('static', filename='buttons/edit-24px.svg') }}"/>
                    </a>
                    <a class="media-right image-button m-right-8"
                       href="{{ url_for('event_route', action='invitations', event_id=event.id) }}">
                        <img title="Invitations" src="{{ url_for('static', filename='buttons/invitation-18dp.svg') }}">
                    </a>
                    <a class="media-right image-button m-right-8"
                       href="{{ url_for('event_route', event_id=event.id, action='show_play_times') }}">
                        <img title="Edit play times" src="{{ url_for('static', filename='buttons/date_range-24px.svg') }}"/>
                    </a>
                {%  endif %}
                {%  if is_member %}
                    <a class="media-right image-button m-right-8" href="{{ url_for('event_route', action='leave', event_id=event.id) }}">
                        <img title="Leave event" src="{{ url_for('static', filename='buttons/remove-24px.svg') }}"/>
                    </a>
                {%  else %}
                    <a class="media-right image-button m-right-8" href="{{ url_for('event_route', action='join', event_id=event.id) }}">
                        <img title="Join event" src="{{ url_for('static', filename='buttons/add-24px.svg') }}"/>
                    </a>
                {%  endif %}
                {%  if is_event_admin %}
                    <a class="media-right image-button"
                        href="{{ url_for('event_route', event_id=event.id, action='delete') }}">
                        <img title="Delete event" src="{{ url_for('static', filename='buttons/close-24px.svg') }}"/>
                    </a>
                {%  endif %}
            </div>
            <legend class="border-bottom mb-3" style="width: 100%"></legend>
            {%  if group and groups_enabled%}
                <p>{{ _("Group") }}: <a href="{{ url_for('group_route', action='show', id=group.id) }}">{{ group.name }}</a></p>
            {%  endif %}
            {% if event.description and len(event.description) %}
                <p class="mt-3 mb-0">{{ _("Description") }}:</p>
                <p class="text-secondary mt-0" style="white-space: pre-wrap; width: 100%">  {{ event.description }}</p>
                <legend class="border-bottom mb-3" style="width: 100%"></legend>
            {% endif %}
            {%  if members %}
                <p class="mb-1">{{ _("Members") }}:</p>
                {%  for user in members %}
                    <p class="m-bottom-4">
                        {% if user.name and user.last_name %}
                            <a href="{{ url_for('profile_route', action=show, id=user.id) }}" class="text-secondary">{{ user.name }} {{ user.last_name }}</a>
                        {% else %}
                            <a href="{{ url_for('profile_route', action=show, id=user.id) }}" class="text-secondary">{{ user.username }}</a>
                        {% endif %}
                    </p>
                {%  endfor %}
            {%  endif %}

{#        TODO make closest event here#}
            {% if play_times %}
                <legend class="border-bottom mb-3 mt-3" style="width: 100%"></legend>
                <p class="mt-3 mb-1">{{ _("Play times") }}:</p>
                {% for play_time in play_times %}
                    {% if play_time.start_time or play_time.end_time or play_time.day_of_week %}
                        <div class="row m-left-8">
                            {% if play_time.day_of_week %}
                                <p class="text-secondary m-right-4" style="white-space: pre-wrap">{{ _(get_day_of_week(play_time.day_of_week)) }} </p>
                            {% endif %}
                            {% if play_time.start_time %}
                                <p class="text-secondary m-right-4" style="white-space: pre-wrap" >{{ format_time(play_time.start_time) }}</p>
                            {% endif %}
                            {% if play_time.end_time %}
                                <p class="text-secondary m-right-4" style="white-space: pre-wrap">-{{ format_time(play_time.end_time) }} </p>
                            {% endif %}
                            {% if play_time.address %}
                                <p class="text-secondary m-right-4" style="white-space: pre-wrap">{{ play_time.address.short_address }}</p>
                                <a href="{{ url_for('event_route', action='show', play_time_id=play_time.id, event_id=event_id) }}">
                                    <img class="m-left-8" width="75%" height="75%" alt="none"
                                         src="{{ url_for('static', filename='buttons/map-24px.svg') }}"/>
                                </a>
                            {%  endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if map_address %}
                <legend class="border-bottom mb-3 mt-3" style="width: 100%"></legend>
                <p class="mt-3 mb-1">{{ _("Location") }}:</p>
                <p class="text-secondary">{{ map_address }}</p>
            {% elif closest_play_time %}
                <legend class="border-bottom mb-3 mt-3" style="width: 100%"></legend>
                <p class="mt-3 mb-1">{{ _("Closest play time") }}:</p>
                <div class="row m-left-8 m-top-4">
                    {% if closest_play_time.day_of_week %}
                        <p class="text-secondary m-right-4" style="white-space: pre-wrap">{{ _(get_day_of_week(closest_play_time.day_of_week)) }} </p>
                    {% endif %}
                    {% if closest_play_time.start_time %}
                        <p class="text-secondary m-right-4" style="white-space: pre-wrap" >{{ format_time(closest_play_time.start_time) }}</p>
                    {% endif %}
                    {% if closest_play_time.end_time %}
                        <p class="text-secondary m-right-4" style="white-space: pre-wrap">-{{ format_time(closest_play_time.end_time) }} </p>
                    {% endif %}
                    {% if closest_play_time.address %}
                        <p class="text-secondary m-right-4" style="white-space: pre-wrap">{{ closest_play_time.address.short_address }}</p>
                    {%  endif %}
                </div>
            {% endif %}
            {% if map %}
                {{ map.html }}
            {% endif %}
        </div>
    {%  endif %}
{%  endblock %}