{% extends 'main.html' %}

{%  block title %}
        <title>{{ group.name }}</title>
{%  endblock title %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body row m-left-0">
                <h4>{{group.name}}</h4>
                {% if group.closed %}
                    <img title="Closed group" class="m-left-4 m-bottom-4 image-button"
                         src="{{ url_for('static', filename='buttons/lock-black-18dp.svg') }}" />
                {% endif %}
            </div>
            <div class="media-right">
                {%  if is_group_admin %}
                    <a class="media-right image-button m-right-8"
                        href="{{ url_for('group_route', id=group.id, action='edit') }}">
                        <img title="Edit" src="{{ url_for('static', filename='buttons/edit-24px.svg') }}"/>
                    </a>
                {%  endif %}
                <a class="media-right image-button m-right-8"
                    href="{{ url_for('group_chats_route', id=group.id, action='all') }}">
                    <img title="Group chat" src="{{ url_for('static', filename='buttons/chat-24px.svg') }}"/>
                </a>
                {% if is_group_admin %}
                    <a class="media-right image-button m-right-8"
                       href="{{ url_for('group_route', action='invitations', id=group.id) }}">
                        <img title="Invitations" src="{{ url_for('static', filename='buttons/invitation-18dp.svg') }}">
                    </a>
                {% endif %}
                {%  if not is_member %}
                    <a class="media-right image-button m-right-8"
                       href="{{ url_for('group_route', id=group.id, action='join') }}">
                        <img title="Join group" src="{{ url_for('static', filename='buttons/add-24px.svg') }}"/>
                    </a>
                {%  else %}
                    <a class="media-right image-button m-right-8"
                       href="{{ url_for('group_route', id=group.id, action='leave') }}">
                        <img title="Leave group" src="{{ url_for('static', filename='buttons/remove-24px.svg') }}"/>
                    </a>
                {%  endif %}
                {%  if is_group_admin %}
                    <a class="media-right image-button m-right-8"
                        href="{{ url_for('group_route', id=group.id, action='delete') }}">
                        <img title="Delete group" src="{{ url_for('static', filename='buttons/close-24px.svg') }}"/>
                    </a>
                {%  endif %}
            </div>
        </div>
        <table class="table">
            <tr>
                <td><span class="text-muted">{{ _("Admin") }}:  </span><a href="{{ url_for('profile_route', action='show', id=group.admin.id) }}" class="text-muted">{{group.admin.name}} {{group.admin.last_name}}</a></td>
                <td><span class="text-muted">{{ _("Sport") }}:  </span>{{ _(group.sport) }}</td>
            </tr>
        </table>
        <legend class="border-bottom mb-3"></legend>
        <h5 class="mb-3">{{ _("Members") }}:</h5>
        <ul class="m-left-12" style="list-style-type: none; list-style-position: inside; padding: 0">
            {% for user in members %}
                {% if user.name and user.last_name %}
                    <li style="margin-left: 0;"><a href="{{ url_for('profile_route', action='show', id=user.id) }}" class="text-secondary">{{user.name}} {{user.last_name}}</a></li>
                {% else %}
                    <li style="margin-left: 0;"><a href="{{ url_for('profile_route', action='show', id=user.id) }}" class="text-secondary">{{user.username}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <legend class="border-bottom mb-3"></legend>
        <h5 class="mb-3">{{ _("Events") }}:</h5>
        {% if len(events) > 0 %}
            <ul class="p-left-12" style="list-style-type: none; list-style-position: inside">
                {% for event in events %}
                    <li class="m-left-0"><a href="{{ url_for('event_route', action='show', id=event.id) }}" class="text-secondary">{{event.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="p-left-12">{{ _("No events yet!") }}</p>
        {% endif %}
    </div>
{% endblock content %}