{% extends 'main.html' %}

{%  block title %}
        <title>{{ group.name }}</title>
{%  endblock title %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h4>{{group.name}}</h4>
            </div>
            <div class="media-right">
                {% if not is_member %}
                    <a class="media-right" href="{{ url_for('group', id=group.id, action='join') }}">Join</a> 
                {% else %}
                    <a class="media-right" href="{{ url_for('group', id=group.id, action='leave') }}">Leave</a> 
                {% endif %}
            </div>
        </div>
        <table class="table">
            <tr>
                <td><span class="text-muted">Admin:  </span>{{group.admin.name}} {{group.admin.last_name}}</td>
                <td><span class="text-muted">Sport:  </span>{{group.sport}}</td>
            </tr>
        </table>
        <legend class="border-bottom mb-3"></legend>
        <h5 class="mb-4">Members:</h5>
        <ul style="list-style-type: none; list-style-position: inside; padding: 0px">
            {% for user in members %}
                <li style="margin-left: 0px;"><a href="{{ url_for('profile', action='show', id=user.id) }}"class="text-secondary">{{user.name}} {{user.last_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}