{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Login") }}</title>
{%  endblock title %}

{% block content %}
   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _("Sign in") }}</legend>
                <div class="form-group">
                    <label for="{{ form.username.label.field_id }}" class="form-control-label">{{ _(form.username.label.text) }}</label>
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.label.field_id }}" class="form-control-label">{{ _(form.password.label.text) }}</label>
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    <label for="{{ form.remember.label.field_id }}" class="form-control-label">{{ _(form.remember.label.text) }}</label>
                </div>
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Login') }}">
            </div>
            <small class="text-muted ml-2">
                <a href="#">{{ _("Forgot Password?") }}</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            {{ _("Don't have an account?") }} <a class="ml-2" href="{{ url_for('register_route') }}">{{ _("Sign up") }}</a>
        </small>
    </div>
{% endblock content %}