{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/margin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/padding.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons/icon2.png') }}" />

    <meta charset="UTF-8">
    {%  block title %}
        <title>Sport</title>
    {%  endblock title %}

    {% block head %}{% endblock head %}
</head>
<body>

    <header class="site-header" style="font-family: 'Courier 10 Pitch',monospace;">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('index_route') }}">Sport</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('about_route') }}">{{ _("About") }}</a>
            </div>
            <!-- Navbar Right Side -->
              {% if current_user.is_authenticated %}
                <div class="navbar-nav">
                    {% if is_admin(current_user) %}
                        <a class="nav-item nav-link" href=" {{ url_for('admin.index') }}">Admin</a>
                    {% endif %}
                    <a id="profile" class="nav-item nav-link" href=" {{ url_for('profile_route', action='my') }}">{{current_user.username}}</a>
                    <a class="nav-item nav-link" href=" {{ url_for('logout_route') }}">{{ _("Log out") }}</a>
                </div>
              {% else %}
                <div class="navbar-nav">
                 <a class="nav-item nav-link" href=" {{ url_for('login_route') }}">{{ _("Login") }}</a>
                 <a class="nav-item nav-link" href=" {{ url_for('register_route') }}">{{ _("Register") }}</a>
                </div>
              {% endif %}
          </div>
        </div>
        <div class="m-right-0">
            {% if get_cookie('language', 'en') == "en" %}
                <a id='change_language' href="{{ url_for('change_language_route', language='ru') }}">
                    <img class='icon' src="{{ url_for('static', filename='icons/Russia-icon.png') }}">
                </a>
            {% else %}
                <a id='change_language' href="{{ url_for('change_language_route', language='en') }}">
                    <img id='language' class='icon' src="{{ url_for('static', filename='icons/United-Kingdom-icon.png') }}">
                </a>
            {% endif %}
        </div>
      </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 mx-auto" style="font-family: 'Courier 10 Pitch',monospace;">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock content %}
            </div>

            {% if hide_sidebar %}
            {%  else %}
                {% block sidebar %}
                    <div class="col-md-3">
                    <div class="content-section">
                        <ul class="list-group">
                            <li class="my-list-group-item list-group-item-light">
                                <a href="{{url_for('group_route', action='my')}}" class="text-secondary">{{ _("Groups") }}</a>
                            </li>
                            <li class="my-list-group-item list-group-item-light">
                                <a href="{{url_for('event_route', action='my')}}" class="text-secondary">{{ _("Events") }}</a>
                            </li>
                            <li class="my-list-group-item list-group-item-light">
                                <a href="{{url_for('friends_route', action='search')}}" class="text-secondary">{{ _("Users") }}</a>
                            </li>
                            {% if current_user.has_invitations and current_user.has_invitations() == true %}
                                <li class="my-list-group-item list-group-item-light">
                                    <a id="invitations" href="{{url_for('my_invitations_route', action='show')}}" class="text-secondary"><span style="color: red">{{ _("Invitations") }} (!)</span></a>
                                </li>
                            {% else %}
                                <li class="my-list-group-item list-group-item-light">
                                    <a id="invitations" href="{{url_for('my_invitations_route', action='show')}}" class="text-secondary">{{ _("Invitations") }}</a>
                                </li>
                            {% endif %}
                            {%  if current_user.is_notified and current_user.is_notified() == true %}
                                <li class="my-list-group-item list-group-item-light">
                                    <a id="messages" href="{{url_for('chats_route', action='all')}}" class="text-secondary"><span style="color: red">{{ _("Messages") }} (!)</span></a>
                                </li>
                            {% else %}
                                <li class="my-list-group-item list-group-item-light">
                                    <a id="messages" href="{{url_for('chats_route', action='all')}}" class="text-secondary">{{ _("Messages") }}</a>
                                </li>
                            {%  endif %}
                    </ul>
                    </div>
                </div>
                {% endblock sidebar %}
            {% endif %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    {% block socket_script %}
        <script type="text/javascript" charset="utf-8">
            let socket = io();

            socket.on('connect', function () {
                socket.emit('opened', {})
            });

            socket.on('message', function (_) {
                document.getElementById('messages').innerHTML = "<span style='color: red;'>{{ _('Messages') }} (!)</span>";
            })

            socket.on('invitation', function (_) {
                document.getElementById('invitations').innerHTML = "<span style='color: red;'>{{ _('Invitations') }} (!)</span>";
            })
        </script>
    {% endblock socket_script %}
    {%  block script %}{%  endblock %}
</body>
</html>