{%  extends "main.html" %}

{%  block content %}
    {%  if chats %}
        {%  for chat in chats %}
            <div class="content-section">
                <h5 id="name"><a href="{{ url_for('chat', chat_id=chat.id) }}">{{ chat.name }}</a></h5>
                <legend class="border-bottom mb-3" style="width: 100%"></legend>
                <p>Additional info</p>
            </div>
        {%  endfor %}
    {%  else %}
        <p>You don't have any chats yet!</p>
    {%  endif %}
{%  endblock %}