{%  extends "main.html" %}

{%  block content %}
    <div class="media">
        <h4 class="media-body">My events</h4>
        {# TODO add link #}
        <a class="media-right m-right-8" href="">
            <img title="Search event" src="{{ url_for('static', filename='buttons/search-black-24dp.svg') }}">
        </a>
        <a class="media-right" href="{{url_for('event_route', action='new')}}">
            <img class="" title="New event"
                 src="{{ url_for('static', filename='buttons/add-24px.svg')}}"/>
        </a>
    </div>
    <legend class="border-bottom mb-3" style="width: 100%"></legend>
    {%  if events %}
        {%  for event in events %}
            <div class="content-section w-75">
                <h5><a href="{{ url_for('event_route', action='show', id=event.id) }}">{{ event.name }}</a></h5>
                <legend class="border-bottom mb-3" style="width: 100%"></legend>
                <div>
                    <p class="mb-1">Description: </p>
                    <p class="text-secondary" style="white-space: pre-wrap">  {{ event.description }}</p>
                </div>
            </div>
        {%  endfor %}
    {%  else %}
        <p>You have no events yet</p>
    {%  endif %}
{%  endblock %}