{%  extends "main.html" %}

{% block title %}
    <title>{{ _("New event") }}</title>
{% endblock %}

{%  block content %}
    <div class="content-section">
    <form method="POST" action="{{ url_for('event_route', action='new') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ _("New Event") }}</legend>
            <div class="mt-3">
                <div class="form-check m-bottom-8 m-left-4">
                    {{ form.recurring(class="form-check-input") }}
                    <label for="{{ form.recurring.label.field_id }}" class="form-control-label m-left-8">{{ _(form.recurring.label.text) }}</label>
                </div>
            </div>
            <div class="form-check m-bottom-8 m-left-4">
                {{ form.closed(class="form-check-input") }}
                <label for="{{ form.closed.label.field_id }}" class="form-control-label m-left-8">{{ _(form.closed.label.text) }}</label>
            </div>
            <div class="form-group">
                <label for="{{ form.name.label.field_id }}" class="form-control-label">{{ _(form.name.label.text) }}</label>
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.label.field_id }}" class="form-control-label">{{ _(form.description.label.text) }}</label>
                {% if form.description.errors %}
                    {{ form.description(class="form-control") }}
                    <div class="invalid-feedback>">
                        {% for error in form.description.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.sport.label.field_id }}" class="form-control-label">{{ _(form.sport.label.text) }}</label>
                {% if form.sport.errors %}
                    {{ macro.select_field(form.sport, class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.sport.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ macro.select_field(form.sport, class="form-control form-control") }}
                {% endif %}
            </div>
            {% if groups_enabled %}
                <div class="mt-3">
                    <label for="{{ form.assigned_group.label.field_id }}" class="form-control-label">{{ _(form.assigned_group.label.text) }}</label>
                    {% if form.assigned_group.errors %}
                        {{ form.assigned_group(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback>">
                            {% for error in form.assigned_group.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assigned_group(class="form-control form-control") }}
                    {% endif %}
                </div>
            {% endif %}
        </fieldset>
        <legend class="border-bottom mb-4"></legend>
        <div class="form-group">
            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Create') }}">
        </div>
    </form>
    </div>
{%  endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">

        // TODO: Move
        {#let marker = null#}
        {##}
        {#function checkAddress() {#}
        {#    const address_input = document.getElementById("address")#}
        {#    const address = address_input.value#}
        {#    if (address.trim() === "") {#}
        {#        return#}
        {#    }#}
        {#    const xhttp = new XMLHttpRequest()#}
        {#    const url = "{{ url_for('get_location_by_address_route') }}"#}
        {#    xhttp.open("POST", url)#}
        {#    xhttp.responseType = "json"#}
        {##}
        {#    xhttp.onload = () => {#}
        {#        if (xhttp.status !== 200) {#}
        {#            alert("Error")#}
        {#            console.log(xhttp.response)#}
        {#            return#}
        {#        }#}
        {#        const response = xhttp.response#}
        {#        if (response.success === false) {#}
        {#            alert(response.msg)#}
        {#            return#}
        {#        }#}
        {#        address_input.value = response.address#}
        {#        const position = {lat: response.latitude, lng: response.longitude}#}
        {#        // TODO move camera#}
        {#        const loc_map = new google.maps.Map(document.getElementById("loc_map"), {#}
        {#            zoom: 14.5,#}
        {#            center: position#}
        {#        })#}
        {#        addMarker(loc_map, position)#}
        {#    }#}
        {#    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");#}
        {#    xhttp.send(JSON.stringify({'address': address}))#}
        {#}#}
        {##}
        {#function addMarker(map, position) {#}
        {#    if (marker !== null) {#}
        {#        marker.setMap(null)#}
        {#    }#}
        {#    marker = new google.maps.Marker({#}
        {#        position: position,#}
        {#        map: map#}
        {#    })#}
        {#}#}
        {##}
        {#function clearTime(id) {#}
        {#    document.getElementById(id).value = null#}
        {#}#}

    </script>
{% endblock %}
