{%  extends "main.html" %}

{% block title %}
    <title>{{ _("New event") }}</title>
{% endblock %}

{% block head %}
    {% if map %}
        {{ map.js }}
    {% endif %}
{% endblock %}

{%  block content %}
    <div class="content-section">
    <form method="POST" action="{{ url_for('event_route', action='new') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ _("New Event") }}</legend>
            <div class="form-check m-bottom-8 m-left-4">
                {{ form.closed(class="form-check-input") }}
                <label for="{{ form.closed.label.field_id }}" class="form-control-label m-left-8">{{ _(form.closed.label.text) }}</label>
            </div>
            <div class="form-group">
                <label for="{{ form.name.label.field_id }}" class="form-control-label">{{ _(form.name.label.text) }}</label>
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.label.field_id }}" class="form-control-label">{{ _(form.description.label.text) }}</label>
                {% if form.description.errors %}
                    {{ form.description(class="form-control") }}
                    <div class="invalid-feedback>">
                        {% for error in form.description.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.sport.label.field_id }}" class="form-control-label">{{ _(form.sport.label.text) }}</label>
                {% if form.sport.errors %}
                    {{ form.select_field(form.sport, class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.sport.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.select_field(form.sport, class="form-control form-control") }}
                {% endif %}
            </div>
            {% if groups_enabled %}
                <div class="mt-3">
                    <label for="{{ form.assigned_group.label.field_id }}" class="form-control-label">{{ _(form.assigned_group.label.text) }}</label>
                    {% if form.assigned_group.errors %}
                        {{ form.assigned_group(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback>">
                            {% for error in form.assigned_group.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assigned_group(class="form-control form-control") }}
                    {% endif %}
                </div>
            {% endif %}
            <p class="text-secondary mb-0 text-center mt-4">{{ _("Leave empty if needed") }}</p>
            <legend class="border-bottom mb-3 mt-1"></legend>
            <div class="mt-3">
                <div class="form-check m-bottom-8 m-left-4">
                    {{ form.recurring(class="form-check-input") }}
                    <label for="{{ form.recurring.label.field_id }}" class="form-control-label m-left-8">{{ _(form.recurring.label.text) }}</label>
                </div>
                <div class="form-group m-bottom-8">
                    <label for="{{ form.day_of_week.label.field_id }}" class="form-control-label">{{ _(form.day_of_week.label.text) }}</label>
                    {{ form.select_field(form.day_of_week) }}
                </div>
                <div class="row m-top-24 m-left-16 m-right-16 m-bottom-16 d-flex justify-content-center">
                    
                    <div class="row m-right-48">
                        <label for="{{ form.start_time.field_id }}" class="form-control-label">{{ _(form.start_time.label.text) }}</label>
                        <div class="column">
                            {{ form.start_time(type="time", class="m-left-16", id="start_time") }}
                            {% if form.start_time.errors %}
                                <div class="invalid-feedback>">
                                    {% for error in form.start_time.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <img src="{{ url_for('static', filename='buttons/close-24px.svg') }}"
                             class="m-left-4"
                             onclick=clearTime("start_time")>
                    </div>
                    
                    <div class="row">
                        <label for="{{ form.end_time.field_id }}" class="form-control-label">{{ _(form.end_time.label.text) }}</label>
                        <div class="column">
                            {{ form.end_time(type="time", class="m-left-16", id="end_time") }}
                            {% if form.end_time.errors %}
                                <div class="invalid-feedback>">
                                    {% for error in form.end_time.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <img src="{{ url_for('static', filename='buttons/close-24px.svg') }}"
                             class="m-left-4"
                             onclick=clearTime("end_time")>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="{{ form.address.label.field_id }}" class="form-control-label">{{ _(form.address.label.text) }}</label>
                        <div class="row m-left-0" style="display: flex">
                            {% if form.address.errors %}
                                {{ form.address(class="form-control is-invalid", style="flex: 4", id="address") }}
                                <div class="invalid-feedback>">
                                    <span style="color: red; ">{{ _("File must be an image") }}</span>
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-sm", style="flex: 4", id="address") }}
                            {% endif %}
                            <input style="flex: 1" class="btn btn-outline-info m-right-24 m-left-24" height="75%" onclick="checkAddress()" type="button" value="{{ _("Check address") }}">
                        </div>
                    </div>
                {% if map %}
                    {{ map.html }}
                {% endif %}
            </div>
        </fieldset>
        <legend class="border-bottom mb-4"></legend>
        <div class="form-group">
            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Create') }}">
        </div>
    </form>
    </div>
{%  endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">

        let marker = null

        function checkAddress() {
            const address_input = document.getElementById("address")
            const address = address_input.value
            if (address.trim() === "") {
                return
            }
            const xhttp = new XMLHttpRequest()
            const url = "{{ url_for('get_location_by_address_route') }}"
            xhttp.open("POST", url)
            xhttp.responseType = "json"

            xhttp.onload = () => {
                if (xhttp.status !== 200) {
                    alert("Error")
                    console.log(xhttp.response)
                    return
                }
                const response = xhttp.response
                if (response.success === false) {
                    alert(response.msg)
                    return
                }
                address_input.value = response.address
                const position = {lat: response.latitude, lng: response.longitude}
                // TODO move camera
                const loc_map = new google.maps.Map(document.getElementById("loc_map"), {
                    zoom: 14.5,
                    center: position
                })
                addMarker(loc_map, position)
            }
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({'address': address}))
        }

        function addMarker(map, position) {
            if (marker !== null) {
                marker.setMap(null)
            }
            marker = new google.maps.Marker({
                position: position,
                map: map
            })
        }

        function clearTime(id) {
            document.getElementById(id).value = null
        }

    </script>
{% endblock %}
