{% extends "main.html" %}


{% block content %}
    {% if current_user is none %}
    <p> You need to <a href="{{url_for('login')}}">Sign in</a> first!</p>
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{{ url_for('register') }}">Sign up</a>
            </small>
        </div>
    {% else %}
        <h3>{{current_user.name}} {{current_user.last_name}}</h3>
        <div class="border-top">
            <img src={{current_user.image_file}} hint="Profile picture"/>
        </div>
    {% endif %}
{% endblock content %}