{% extends "main.html" %}


{% block content %}

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.name }} {{ current_user.last_name }}</p>
          <p class="text-secondary">Age {{ current_user.age }}</p>
          <p class="text-secondary">Gender {{ current_user.gender }}</p>

        </div>

          <div class="media-right">
              <a href="{{ url_for('profile', action='edit') }}">
                <img class="w-75 h-75" title="Edit profile"
                     src="{{ url_for('static', filename='buttons/baseline_edit_black_18dp.png')}}"/>
              </a>
          </div>
      </div>
        <legend class="border-bottom mb-4"></legend>
        <div class="container row">
            {% if current_user.sport %}
                <h5 class="align-left">Sports:</h5>
                <div class="align-left col-sm-1">
                    {% for sport in current_user.sport %}
                    <a href="{{ url_for('search', sport=sport)}}" class="text-secondary"> {{ sport }}</a>
                    {% endfor %}
                </div>
            {% else %}
             <p class="">No sport added yet!</p>
            {% endif %}
        </div>
            {% if groups %}
            <legend class="border-bottom mb-4 mt-2"></legend>
            <div class="container row">
                <h5 class="align-left">Groups:</h5>
                <div class="align-left col-sm-1">
                    {% for group in groups %}
                      <a href="{{ url_for('group', id=group.id, action='show')}}" class="text-secondary"> {{ group.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
    </div>
{% endblock content %}