{% extends "main.html" %}


{%  block title %}
        <title>{{ _("Profile") }}</title>
{%  endblock title %}

{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" width="125" height="125" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="none">
            <div class="media-body">
                {% if user.name and user.last_name %}
                  <h2 class="account-heading">{{ user.name }} {{ user.last_name }}</h2>
                  <p class="text-secondary m-bottom-4">{{  user.username }}</p>
                {% else %}
                    <h2 class="account-heading">{{ user.username }}</h2>
                {% endif %}
                {% if user.age %}
                    <p class="text-secondary m-bottom-4">{{ _("Age") }}: {{ user.age }}</p>
                {% endif %}
                {% if user.gender %}
                    <p class="text-secondary m-bottom-4">{{ _("Gender") }}: {{ _(user.gender) }}</p>
                {% endif %}
                {% if user.city %}
                    <p class="text-secondary m-bottom-4">{{ _("City") }}: {{ user.city }}</p>
                {% endif %}

            </div>

            {%  if my  %}
                <div class="media-right">
                    <a href="{{ url_for('profile_route', action='edit') }}">
                        <img title="Edit profile"
                             src="{{ url_for('static', filename='buttons/edit-24px.svg')}}" alt="none"/>
                    </a>
                    <a href="{{ url_for('profile_route', action='show_play_times', user_id=user.id) }}">
                        <img title="Edit play times"
                             src="{{ url_for('static', filename='buttons/date_range-24px.svg')}}" alt="none"/>
                    </a>
                </div>
            {%  else %}
                <div class="media-right">
                    {%  if is_friend %}
                        <a href="{{ url_for('profile_route', action='friend_remove', id=user.id) }}">
                            <img title="Remove friend"
                                 src="{{ url_for('static', filename='buttons/remove-24px.svg')}}" alt="none"/>
                        </a>
                    {% else %}
                        <a href="{{ url_for('profile_route', action='friend_add', id=user.id) }}">
                            <img title="Add friend"
                                src="{{ url_for('static', filename='buttons/add-24px.svg')}}" alt="none"/>
                        </a>
                    {%  endif %}
                    {%  if chat_id %}
                        <a href="{{ url_for('chats_route', action='show', chat_id=chat_id, user_id=user.id) }}">
                    {%  else %}
                        <a href="{{ url_for('chats_route', action='show', user_id=user.id) }}" >
                    {%  endif %}
                            <img title="Show chat"
                                 src="{{ url_for('static', filename='buttons/chat-24px.svg')}}" alt="none"/>
                        </a>
                    <a href="{{ url_for('profile_route', action='show_play_times', user_id=user.id) }}">
                        <img title="Show play times"
                             src="{{ url_for('static', filename='buttons/date_range-24px.svg')}}" alt="none"/>
                    </a>
                </div>
            {%  endif %}

        </div>
        <legend class="border-bottom mb-4"></legend>
        <div class="container padding-left-0">
            {% if user.sport and len(user.sport) > 0 %}
                <div class="row m-left-8">
                    <h5 class="align-left">{{ _("Sports") }}: </h5>
                    {% if my %}
                        <a href="{{ url_for('profile_route', action='edit_videos') }}" style="margin-left:auto; margin-right:16px;">
                            <img title="Edit videos"
                             src="{{ url_for('static', filename='buttons/edit-24px.svg')}}" alt="none"/>
                        </a>
                    {% endif %}
                </div>
                <div class="align-left col-sm-12" id="accordion">
                    {% for sport in user.sport %}
                        <div class="col">
                            <div class="row" id="heading{{ i }}">
                                <p class="m-bottom-4">
                                    <a href="{{ url_for('group_route', action='search', sport=sport)}}" class="text-secondary"> {{ _(sport) }}</a>
                                </p>
                                {% set video = videos.get(sport) %}
                                {% if video %}
                                    <button class="btn btn-link p-0 m-left-16" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                        {{ _('Video') }}
                                    </button>
                                {% endif %}
                            </div>
                            {% if video %}
                                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                    <iframe src="https://www.youtube.com/embed/{{ video }}">
                                    </iframe>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ _("No sport added yet!") }}</p>
            {% endif %}
        </div>
            {% if groups and len(groups) > 0 %}
                <legend class="border-bottom mb-4 mt-2"></legend>
                <div class="container padding-left-0">
                    <h5 class="align-left">{{ _("Groups") }}: </h5>
                    <div class="align-left col-sm-12">
                        {% for group in groups %}
                            <p class="m-bottom-4">
                                <a href="{{ url_for('group_route', id=group.id, action='show')}}" class="text-secondary"> {{ group.name }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% if friends and len(friends) > 0 %}
            <legend class="border-bottom mb-4 mt-2"></legend>
            <div class="container padding-left-0">
                <h5 class="align-left">{{ _("Friends") }}: </h5>
                <div class="align-left col-sm-12">
                    {% for friend in friends %}
                        <p class="m-bottom-4">
                            <a href="{{ url_for('profile_route', id=friend.id, action='show')}}" class="text-secondary">
                            {{ friend.name }} {{ friend.last_name }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
    </div>
{% endblock content %}