{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Register") }}</title>
{%  endblock title %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _("Join now") }}</legend>
                <div class="form-group">
                    <label for="{{ form.username.label.field_id }}" class="form-control-label">{{ _(form.username.label.text) }}</label>
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.username.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.label.field_id }}" class="form-control-label">{{ _(form.email.label.text) }}</label>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.password.label.field_id }}" class="form-control-label">{{ _(form.password.label.text) }}</label>
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.confirm_password.label.field_id }}" class="form-control-label">{{ _(form.confirm_password.label.text) }}</label>
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback>">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ _('Sign up') }}">
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            {{ _("Already have an account?") }} <a class="ml-2" href="{{ url_for('login_route') }}">{{ _("Sign in") }}</a>
        </small>
    </div>

{% endblock content %}