{% extends 'main.html' %}

{%  block title %}
        <title>{{ _("Search group") }}</title>
{%  endblock title %}

{% block content %}
    <div class="media">
        <h4 class="media-body">{{ _("Groups") }}</h4>
        <a class="media-right" href="{{url_for('group_route', action='new')}}">
            <img class="" title="New group"
                 src="{{ url_for('static', filename='buttons/add-24px.svg')}}"/>
        </a>
    </div>
    <legend class="border-top m-top-0"></legend>
        <form method="POST" class="form form-horizontal row">
            {{ form.hidden_tag() }}
            <div class="form-group col-sm-6">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-sm") }}
            </div>
            <div class="col-sm-6">
                {{ form.sport.label(class="form-control-label") }}
                {{ form.sport(class="form-control form-control-sm") }}
            </div>
            <div class="form-group mt-3 ml-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <legend class="border-top m-top-0 w-75"></legend>
    {% if query %}
        {% for group in query %}
        <a href="{{ url_for('group_route', id=group.id) }}">
            <div class="content-section w-75">
                <div class="media">
                    <a class="media-body" href="{{ url_for('group_route', id=group.id, action='show') }}">{{group.name}}</a>
                    {% if group.closed %}
                        <p class="text-muted media-right">{{ _("Closed") }}</p>
                    {% endif %}
                </div>
                <table>
                    <tr class="table">
                        <td><span class="text-muted">{{ _("Admin") }}: </span>{{group.admin.name}} {{group.admin.last_name}}</td>
                        <td><span class="text-muted">{{ _("Sport") }}: </span>{{group.sport}}</td>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <h4>{{ _("No search results") }}</h4>
        <p class="text-muted small">{{ _("Create a new group") }} <a href="{{url_for('group_route', action='new')}}">{{ _("here") }}</a></p>
    {% endif %}
    

{% endblock content %} 