{% extends 'main.html' %}

{% block content %}

    {% if query %}
        {% for group in query %}
        <a href="{{ url_for('group', id=group.id) }}">
            <div class="content-section w-75">
                <div class="media">
                    <a class="media-body" href="{{ url_for('group', id=group.id) }}">{{group.name}}</a>
                </div>
                <table>
                    <tr class="table">
                        <td><span class="text-muted">admin: </span>{{group.admin.name}} {{group.admin.last_name}}</td>
                        <td><span class="text-muted">sport: </span>{{group.sport}}</td>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <h4>No search results</h4>
    {% endif %}
    

{% endblock content %} 