{% extends 'main.html' %}

{% block content %}
    <h4>Groups</h4>
    <legend class="border-top mt-2"></legend>
        <form method="POST" class="form form-horizontal row">
            {{ form.hidden_tag() }}
            <div class="form-group col-sm-6">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-sm") }}
            </div>
            <div class="col-sm-6">
                {{ form.sport.label(class="form-control-label") }}
                {{ form.sport(class="form-control form-control-sm") }}
            </div>
            <div class="form-group mt-3 ml-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <legend class="border-top mt-2"></legend>
    {% if query %}
        {% for group in query %}
        <a href="{{ url_for('group', id=group.id) }}">
            <div class="content-section w-75">
                <div class="media">
                    <a class="media-body" href="{{ url_for('group', id=group.id, action='show') }}">{{group.name}}</a>
                </div>
                <table>
                    <tr class="table">
                        <td><span class="text-muted">admin: </span>{{group.admin.name}} {{group.admin.last_name}}</td>
                        <td><span class="text-muted">sport: </span>{{group.sport}}</td>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <h4>No search results</h4>
        <p class="text-muted small">Create a new group <a href="{{url_for('group', action='new')}}">here</a></p>
    {% endif %}
    

{% endblock content %} 